<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
  
<suite name="Suite1" verbose="1" >
<test name="regression1" >
  <parameter name="remoteBrowserType" value="chrome"/>
  <classes>
      <class name="com.testngpractice.Loginpage" /> 
      <class name="com.maven.Javanet" />
       </classes>
  </test>
</suite>
